<div id='index-container'>
  {{! <h1>Home</h1> }}
  <img src='images/beer.png' alt='Cerveza' />

  <a id='beer-btn' class='btn' href='/beers'>Check the beers!</a>

  <a id='random-btn' class='btn' href='/random-beer'>check a Random Beer</a>

</div>