<div id='index-container'>
  {{! <h1>Home</h1> }}
  <img src='images/beer.png' alt='Cerveza' />
  <div id='beer-btn' class='btn'>
    <a href='/beers'>Check the beers!</a>

  </div>
  <div id='random-btn' class='btn'>
    <a href='/random-beer'>check a Random Beer</a>
  </div>

</div>