<div>
  {{! <h1>Home</h1> }}
  <img src='images/beer.png' alt='Cerveza' />
  <div>
    <a href='/beers'>Check the beers!</a>

  </div>
  <div>
    <a href='/random-beer'>check a Random Beer</a>
  </div>

</div>